files-to-deploy/config-files/homedir/.config/ranger/*
files-to-deploy/!config-files/homedir/.config/ranger/rc.conf

files-to-deploy/config-files/homedir/.config/nvim/plugged
files-to-deploy/config-files/homedir/.config/nvim/.netrwhist
