# General
    username="saponace"
    hostname="tartiflette"
    root_pwd="pwd"
    user_pwd="pwd"

# Disks
    install_disk="/dev/sda"

    # Sizes in Megabytes
    boot_partition_size="100"
    swap_partition_size="2000"
    # Can either be "MAX" or a size
    root_partition_size="MAX"

# Path to an authorized_keys ssh file to deploy to the server
    authorized_keys_file="/tmp/authorized_keys"

# Networking
    network_interface_name="enp37s0"
    static_ip_address="192.168.1.20"
    lan_gateway_ip_address="192.168.1.1"
    dns_server_ip_address="8.8.8.8"

# Locale stuff
    # keymap="fr-latin9"  # Uncomment to set this keymap in vconsole
    timezone="America/Montreal"
    locales_to_enable="fr_FR.UTF-8 UTF-8\nfr_FR ISO-8859-1\nfr_FR@euro ISO-8859-15\nen_US.UTF-8 UTF-8\nen_US ISO-8859-1"

# VPN credentials
    vpn_login="xxxxx"
    vpn_password="xxxxx"

# Web server
    domain_name="xxxxx.xx"
    lets_encrypt_email="xxxxx@xxx.xx"
    cloudflare_email="xxxxx@xxx.xx"
    cloudflare_api_key="xxxxx"

 # Misc secrets
    authelia_jwt_secret="xxxxx"
    gotify_watchtower_api_token="xxxxx"
    admin_pwd="xxxxx"
