# General
    username="saponace"
    hostname="tartiflette"

# Disks
    # Exemple: if the root partition is /dev/sda3,
    root_device="/dev/sda"
    root_partition_suffix="3"
    swap_partition="/dev/sda2"

# Path to an authorized_keys ssh file to deploy to the server
    authorized_keys_file="/tmp/id_rsa.pub"

# Networking
    network_interface_name="enp1s0"
    static_ip_address="192.168.0.20"
    lan_gateway_ip_address="192.168.0.1"
    dns_server_ip_address="8.8.8.8"

# Locale stuff
    keymap="fr-latin9"
    locale_zone_path="/usr/share/zoneinfo/Europe/Paris"
    locales_to_enable="fr_FR.UTF-8 UTF-8\nfr_FR ISO-8859-1\nfr_FR@euro ISO-8859-15\nen_US.UTF-8 UTF-8\nen_US ISO-8859-1"
