[Unit]
Description=Script starter
After=getty.target
Requires=systemd-homed.service
Requires=network.target
Conflicts=getty@tty1.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/saponace/alis-server
ExecStart=/home/saponace/alis-server/install-scripts/configure-system.sh
User=saponace
Group=saponace
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=graphical.target
