[Unit]
Description=Server apps suite (docker-compose) Service
Requires=docker.service
After=docker.service

[Service]
RuntimeMaxSec=259200 # Service stops (and then restarts) every 3*24*3600 seconds. This is a workaround for the issue that disconnects the VPN container from the internet
WorkingDirectory=%DOCKER_COMPOSE_DIR%
ExecStart=%DOCKER_COMPOSE_BIN_PATH% up
ExecStop=%DOCKER_COMPOSE_BIN_PATH% down
TimeoutStartSec=0
Restart=on-failure
StartLimitInterval=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
